<div class="container">
  <div id="sign-up">
    <div class="row">
      <div class="col-md-12">
          <h3 class="text-center">Sign Up</h3>
          <h5 class="text-center">Have an Account?</h5></div>
      <div class="col-md-4 col-md-offset-4">

        <form (ngSubmit)="onSubmit(register)" #register = "ngForm">
          {{register.value | json}}
            <div class="form-group">
                <label class="control-label">Username </label>
                <input class="form-control" type="text"
                required
                [(ngModel)]="register.username" name="username">
                {{username}}
            </div>
            <div class="form-group">
                <label class="control-label">Email </label>
                <input class="form-control" type="text"
                required
                [(ngModel)]="register.email" name="email">
            </div>
            <div class="form-group">
                <label class="control-label">Password </label>
                <input class="form-control" type="text" required
                [(ngModel)]="register.password" name="password">
            </div>
            <button class="btn btn-default" type="submit" [disabled]="!register.form.valid">Sign Up</button>
        </form>

      </div>
    </div>
  </div>
</div>