
    <div id="intro">
        <div class="jumbotron">
            <h1>Heading text</h1>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            <p><a class="btn btn-default" role="button" href="#">Learn more</a></p>
        </div>
    </div>
    <div id="articles">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>User Name</p>
                    <p>December 30, 2016</p>
                    <h4>Article Name</h4>
                    <p>Some Excerpt....</p>
                </div>
                <div class="col-md-4">
                    <h4>Popular Tags</h4></div>
            </div>
        </div>
    </div>

    <div>
        <button (click)="loadUser()">Load</button>
        {{ profile | json}}
    </div>

<app-auth></app-auth>